<div class="todo-notification" role="status" data-controller="notification">
  <p class="todo-notification__message"><%= message %></p>
  <button type="button" class="todo-notification__dismiss" aria-label="Dismiss notification"
          data-action="notification#dismiss">
    &times;
  </button>
</div>
